html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.label > div
{
    font-family: Helvetica, Arial;
    position: absolute;
    background: #00000055;
    color: white;
    padding: 16px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 32px;
    user-select: none;
}